body {
  margin: 0;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.time-container {
  color: #ccc;
  letter-spacing: 2px;
  display: flex;
}

.time-container span {
  position: relative;
  font-size: 4rem;
  top: 5px;
}

.timer-text {
  font-size: 5rem;
  margin: 0;
}
